projects/n8n/Code Review ReAct Agent (GitHub PR).json
{
  "name": "Code Review ReAct Agent (GitHub PR)",
  "nodes": [
    {
      "parameters": {
        "content": "## Code Review ReAct Agent — GitHub PR mode\nKeeps the Solution-Kit ReAct agent + 5 deterministic tools, and adds the\n\"Connect to pull requests\" future-work item.\n\n**Flow**\nGitHub Trigger (pull_request) -> Filter PR Events -> Fetch Diff -> Parse Input -> ReAct Agent (+tools) -> Format Output -> Create a review.\n\n**Setup**\n1. GitHub OAuth2 cred on: GitHub Trigger, Fetch Diff, Create a review.\n2. OpenAI cred on: OpenAI Chat Model (gpt-4o-mini, temp 0.2 per kit).\n3. Activate (do NOT use listen-mode — an active workflow registers the real webhook).\n\nReview is posted with event=comment (non-gating). Change in Create a review to gate merges.",
        "height": 408,
        "width": 1324,
        "color": 4
      },
      "id": "d9331104-4495-4561-8ea1-f0cba65c20a6",
      "name": "Setup Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        464,
        -160
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "owner": {
          "__rl": true,
          "value": "OWNER",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "REPOSITORY",
          "mode": "name"
        },
        "events": [
          "pull_request"
        ],
        "options": {}
      },
      "id": "63199824-634b-47f3-ae13-6bd02fb05595",
      "name": "GitHub Trigger",
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        384,
        304
      ],
      "webhookId": "GITHUB_TRIGGER_WEBHOOK",
      "credentials": {
        "githubOAuth2Api": {
          "id": "GITHUB_CREDENTIAL_ID",
          "name": "GitHub OAuth2 Credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// The GitHub Trigger nests the webhook payload under `body`. Unwrap it so\n// downstream nodes can use $json.pull_request directly.\nconst root = $input.first().json;\nconst evt = root.body ?? root;\nconst allowed = ['opened', 'synchronize', 'reopened', 'ready_for_review'];\nif (!evt.pull_request || !allowed.includes(evt.action)) return [];\nif (evt.pull_request.draft) return [];\nreturn [{ json: evt }];"
      },
      "id": "139d3cea-606c-48c7-bc68-9f8bbcdeae35",
      "name": "Filter PR Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        304
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.pull_request.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3.diff"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "d4c72f07-f692-4ddf-a23d-ca6530574418",
      "name": "Fetch Diff",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        304
      ],
      "credentials": {
        "githubOAuth2Api": {
          "id": "GITHUB_CREDENTIAL_ID",
          "name": "GitHub OAuth2 Credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combine PR metadata (unwrapped by Filter PR Events) with the diff text.\nconst evt  = $('Filter PR Events').first().json;\nconst pr   = evt.pull_request;\nconst repo = evt.repository;\n\nlet diff = $input.first().json.data;\nif (diff === undefined) diff = $input.first().json.body ?? '';\nif (typeof diff !== 'string') diff = JSON.stringify(diff);\n\nconst MAX = 60000;\nlet truncated = false;\nif (diff.length > MAX) { diff = diff.slice(0, MAX); truncated = true; }\n\nif (!diff || diff.trim().length === 0) {\n  throw new Error('Empty diff for PR #' + (pr && pr.number));\n}\n\nreturn [{ json: {\n  code: diff,\n  language: 'auto-detect',\n  context: `Unified diff for PR #${pr.number} \"${pr.title}\" (${pr.head.ref} -> ${pr.base.ref}).` +\n           (truncated ? ' NOTE: diff truncated to first 60k chars.' : ''),\n  owner: repo.owner.login,\n  repo: repo.name,\n  number: pr.number,\n  commit_id: pr.head.sha,\n  html_url: pr.html_url\n}}];"
      },
      "id": "ad3fc1a5-b206-4ff5-bbab-61114e806ae5",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Review the pull-request diff below. Call your tools to gather objective evidence, then deliver the final report in the EXACT markdown format specified in your instructions. Review ONLY the diff shown here — do not invent other files or changes.\n\nContext: {{ $json.context }}\n\nDIFF UNDER REVIEW:\n```diff\n{{ $json.code }}\n```",
        "options": {
          "systemMessage": "You are an expert code review agent that follows the ReAct (Reasoning + Acting) pattern. You are reviewing a GitHub PULL REQUEST provided as a unified diff. Lines starting with '+' are added, '-' are removed, and lines beginning with '@@' are hunk headers. Focus your judgment on the added/changed lines.\n\nTools:\n1. get_code - Returns code, declared language, and context. Call FIRST.\n2. ast_complexity_analysis - Structure, complexity, and performance clues.\n3. security_analysis - Deterministic security pattern matching.\n4. quality_regex_analysis - Code quality and style checks.\n5. web_search - Public best practices, CVEs, or language-specific idioms. Use sparingly.\n\nFor every step, reason explicitly:\nThought: what do I need to know next, and why?\nAction: which tool to call, or Final Answer when done.\nObservation: what the tool returned.\n\nAlways call get_code first, then gather objective evidence from the deterministic\ntools before forming any opinion. Only use web_search when external context is genuinely\nneeded. Tie every serious finding to evidence from the tools. The deterministic tools see\nraw diff text (including +/- prefixes), so treat their line numbers as approximate.\n\nCover four dimensions:\n1. Code Quality\n2. Security\n3. Performance\n4. Maintainability\n\nWhen you have enough evidence, respond with ONLY the final markdown report in EXACTLY this format:\n\n# Code Review Report\n\n## Overall Grade: A | B | C | D | F\n\n## Executive Summary\n(2-3 sentences. State the verdict and the most important issue.)\n\n## Critical Issues (must fix)\n- ...\n\n## Warnings (should fix)\n- ...\n\n## Suggestions (nice to have)\n- ...\n\n## Strengths\n- ...\n\n## Dimension Scores\n| Dimension | Score | One-line rationale |\n| Quality | X/10 | ... |\n| Security | X/10 | ... |\n| Performance | X/10 | ... |\n| Maintainability | X/10 | ... |\n\n## Priority Action Items\n1. [CRITICAL] ...\n2. [HIGH] ...\n3. [MEDIUM] ...",
          "maxIterations": 12,
          "returnIntermediateSteps": true
        }
      },
      "id": "8dc716d9-7a70-46b8-bedf-f853dd70ce39",
      "name": "Code Review Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1264,
        304
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "5feef75d-d1f7-440d-9cdf-d9b4575af377",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1120,
        544
      ],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API Credential"
        }
      }
    },
    {
      "parameters": {
        "name": "get_code",
        "description": "Returns the submitted diff, declared language, and PR context. Call this FIRST. Input is ignored.",
        "jsCode": "const data = $('Parse Input').first().json;\nreturn JSON.stringify({\n  language: data.language || 'auto-detect',\n  context: (data.context && data.context.length) ? data.context : '(none provided)',\n  code: data.code || ''\n}, null, 2);"
      },
      "id": "be3af0fd-c0b0-4bc8-ad23-1008cffc0bdc",
      "name": "get_code",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        1264,
        544
      ]
    },
    {
      "parameters": {
        "name": "ast_complexity_analysis",
        "description": "Heuristic structure/complexity/performance analysis: line counts, function count, nested loops, sequential awaits in loops, possible N+1 queries, chained array passes. Input is ignored; it reads the submitted code directly.",
        "jsCode": "const code = ($('Parse Input').first().json.code || '');\nconst lines = code.split('\\n');\nconst loc = lines.length;\nconst nonEmpty = lines.filter(l => l.trim().length).length;\nconst approxFunctions = (code.match(/\\bfunction\\b|=>|\\bdef\\s+[A-Za-z_]/g) || []).length;\n\nconst loopRe = /\\b(for|while)\\b|\\.forEach\\s*\\(|\\.map\\s*\\(|\\.filter\\s*\\(/;\nlet nestedLoops = 0;\nconst indentStack = [];\nlines.forEach(line => {\n  if (loopRe.test(line)) {\n    const indent = line.length - line.trimStart().length;\n    while (indentStack.length && indentStack[indentStack.length - 1] >= indent) indentStack.pop();\n    indentStack.push(indent);\n    if (indentStack.length >= 2) nestedLoops++;\n  }\n});\n\nconst scanInLoop = (predRe) => {\n  let count = 0, inLoop = false, loopIndent = -1;\n  lines.forEach(line => {\n    const indent = line.length - line.trimStart().length;\n    if (/\\b(for|while)\\b|\\.forEach\\s*\\(/.test(line)) { inLoop = true; loopIndent = indent; }\n    else if (inLoop && line.trim().length && indent <= loopIndent) { inLoop = false; }\n    if (inLoop && predRe.test(line)) count++;\n  });\n  return count;\n};\n\nconst sequentialAwaitsInLoops = scanInLoop(/\\bawait\\b/);\nconst possibleNPlusOneQueries = scanInLoop(/(query|find|select|fetch|save|insert|update|findOne|getBy)\\s*\\(/i);\nconst chainedArrayPasses = (code.match(/\\.(map|filter|forEach|reduce)\\s*\\([^)]*\\)\\s*\\.\\s*(map|filter|forEach|reduce)\\s*\\(/g) || []).length;\n\nreturn JSON.stringify({\n  tool: 'ast_complexity_analysis',\n  metrics: { totalLines: loc, nonEmptyLines: nonEmpty, approxFunctions },\n  signals: { nestedLoops, sequentialAwaitsInLoops, possibleNPlusOneQueries, chainedArrayPasses },\n  note: 'Heuristic line/regex analysis over diff text, not a full AST parse.'\n}, null, 2);"
      },
      "id": "186c8940-04a4-4299-92f3-05f082a48f64",
      "name": "ast_complexity_analysis",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        1408,
        544
      ]
    },
    {
      "parameters": {
        "name": "security_analysis",
        "description": "Deterministic security pattern scan: eval/dynamic exec, shell/process spawning, hardcoded secrets, SQL string interpolation, DOM injection, weak hashes, insecure randomness, disabled TLS verification. Input is ignored.",
        "jsCode": "const code = ($('Parse Input').first().json.code || '');\nconst lines = code.split('\\n');\nconst findings = [];\nconst add = (i, severity, issue, snippet) =>\n  findings.push({ line: i + 1, severity, issue, snippet: (snippet || '').trim().slice(0, 160) });\n\nconst checks = [\n  { re: /\\beval\\s*\\(/, sev: 'high', msg: 'Use of eval() enables arbitrary code execution' },\n  { re: /new\\s+Function\\s*\\(/, sev: 'high', msg: 'Dynamic code execution via new Function()' },\n  { re: /child_process|\\bexecSync\\b|\\bexec\\s*\\(|\\bspawn\\s*\\(|os\\.system|subprocess\\.|Runtime\\.getRuntime/, sev: 'high', msg: 'Shell/process execution' },\n  { re: /(password|passwd|secret|api[_-]?key|apikey|token|access[_-]?key|private[_-]?key)\\s*[:=]\\s*['\"][^'\"]{6,}['\"]/i, sev: 'high', msg: 'Possible hardcoded secret/credential' },\n  { re: /(SELECT|INSERT|UPDATE|DELETE)\\b[\\s\\S]{0,60}(\\+|\\$\\{|%s|%d|f['\"])/i, sev: 'high', msg: 'Possible SQL built via string interpolation (injection risk)' },\n  { re: /\\.innerHTML\\s*=|document\\.write\\s*\\(|dangerouslySetInnerHTML|insertAdjacentHTML/, sev: 'medium', msg: 'Direct DOM injection (XSS risk)' },\n  { re: /\\b(md5|sha1)\\b/i, sev: 'medium', msg: 'Weak hash algorithm (MD5/SHA1)' },\n  { re: /Math\\.random\\s*\\(/, sev: 'low', msg: 'Math.random() is not cryptographically secure' },\n  { re: /rejectUnauthorized\\s*:\\s*false|verify\\s*=\\s*False|CURLOPT_SSL_VERIFY(PEER|HOST)\\s*,\\s*(0|false)|NODE_TLS_REJECT_UNAUTHORIZED\\s*=\\s*['\"]?0/i, sev: 'high', msg: 'Disabled/relaxed TLS certificate verification' }\n];\n\nlines.forEach((line, i) => {\n  const isDiff = /^[+\\- ]/.test(line) || line.startsWith('@@');\n  if (isDiff && !line.startsWith('+')) return;\n  checks.forEach(c => { if (c.re.test(line)) add(i, c.sev, c.msg, line); });\n});\n\nreturn JSON.stringify({ tool: 'security_analysis', totalFindings: findings.length, findings }, null, 2);"
      },
      "id": "6b9be3db-2d68-4790-b3d8-21327929de8e",
      "name": "security_analysis",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        1552,
        544
      ]
    },
    {
      "parameters": {
        "name": "quality_regex_analysis",
        "description": "Code quality/style scan: var usage, console/print logging, TODO/FIXME, loose equality, swallowed errors, low comment ratio. Input is ignored.",
        "jsCode": "const code = ($('Parse Input').first().json.code || '');\nconst lines = code.split('\\n');\nconst findings = [];\nconst add = (i, issue, snippet) =>\n  findings.push({ line: i + 1, issue, snippet: (snippet || '').trim().slice(0, 160) });\n\nlines.forEach((line, i) => {\n  const isDiff = /^[+\\- ]/.test(line) || line.startsWith('@@');\n  if (isDiff && !line.startsWith('+')) return;\n  if (/\\bvar\\s+[A-Za-z_$]/.test(line)) add(i, 'Use of var (prefer let/const)', line);\n  if (/console\\.(log|debug|info|warn|error)\\s*\\(/.test(line)) add(i, 'Leftover console logging', line);\n  if (/(TODO|FIXME|HACK|XXX)\\b/.test(line)) add(i, 'TODO/FIXME marker', line);\n  if (/[^=!<>]==[^=]/.test(line) && !/===/.test(line)) add(i, 'Loose equality (==)', line);\n  if (/[^=!<>]!=[^=]/.test(line) && !/!==/.test(line)) add(i, 'Loose inequality (!=)', line);\n});\n\nconst findAll = (re, label, snippetFn) => {\n  let m;\n  const r = new RegExp(re.source, re.flags.includes('g') ? re.flags : re.flags + 'g');\n  while ((m = r.exec(code)) !== null) {\n    const lineNo = code.slice(0, m.index).split('\\n').length;\n    add(lineNo - 1, label, snippetFn ? snippetFn(m) : m[0]);\n  }\n};\nfindAll(/catch\\s*\\([^)]*\\)\\s*\\{\\s*\\}/, 'Swallowed error (empty catch block)');\nfindAll(/except[^\\n:]*:\\s*\\n\\s*pass/, 'Swallowed error (except: pass)', () => 'except ...: pass');\n\nconst commentLines = lines.filter(l => /^\\s*[+\\- ]?\\s*(\\/\\/|#|\\*|\\/\\*)/.test(l)).length;\nconst ratio = lines.length ? (commentLines / lines.length) : 0;\nconst note = ratio < 0.03 ? 'Very few comments/docstrings relative to code size' : null;\n\nreturn JSON.stringify({\n  tool: 'quality_regex_analysis',\n  totalFindings: findings.length,\n  commentRatio: Number(ratio.toFixed(3)),\n  note,\n  findings\n}, null, 2);"
      },
      "id": "338af806-1bcd-4a38-bfcf-3e924cf12800",
      "name": "quality_regex_analysis",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        1680,
        544
      ]
    },
    {
      "parameters": {
        "toolDescription": "Search the public web (DuckDuckGo instant-answer API) for best practices, CVEs, or language-specific idioms. Use sparingly and only when external context is needed.",
        "url": "https://api.duckduckgo.com/?q={searchTerm}&format=json&no_html=1&skip_disambig=1",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "searchTerm",
              "description": "The search query (e.g. a CVE id, library name, or best-practice topic).",
              "type": "string"
            }
          ]
        }
      },
      "id": "5555dd1e-d2fb-4317-87cf-44924b732583",
      "name": "web_search",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1824,
        544
      ]
    },
    {
      "parameters": {
        "jsCode": "// Solution-Kit Format Output, adapted to also drive the GitHub review post.\nconst a = $input.first().json;\nconst report = a.output ?? a.text ?? '';\nconst steps = Array.isArray(a.intermediateSteps) ? a.intermediateSteps : [];\n\nconst reasoning = steps.map((s, idx) => {\n  const action = s.action || {};\n  return {\n    step: idx + 1,\n    thought: action.log ? String(action.log).trim() : '',\n    tool: action.tool || '',\n    toolInput: action.toolInput ?? '',\n    observation: typeof s.observation === 'string' ? s.observation : JSON.stringify(s.observation)\n  };\n});\nconst toolsUsed = [...new Set(reasoning.map(r => r.tool).filter(Boolean))];\n\nreturn [{ json: {\n  success: true,\n  report,\n  reasoning,\n  metadata: { stepsCount: reasoning.length, toolsUsed }\n}}];"
      },
      "id": "6d5de105-ea1f-4784-b951-b1a41299c451",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        304
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "review",
        "owner": {
          "__rl": true,
          "value": "OWNER",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "REPOSITORY",
          "mode": "name"
        },
        "pullRequestNumber": "={{ $('Filter PR Events').item.json.pull_request.number }}",
        "event": "comment",
        "body": "=## AI Code Review\n\n{{ $json.report }}\n\n---\n_Reviewed commit `{{ $('Filter PR Events').item.json.pull_request.head.sha }}` • tools used: {{ (($json.metadata && $json.metadata.toolsUsed) || []).join(', ') || 'none' }}_",
        "additionalFields": {}
      },
      "id": "a1ac8b5b-bd65-4974-b3ab-44543e9ff352",
      "name": "Create a review",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1808,
        304
      ],
      "webhookId": "CREATE_REVIEW_WEBHOOK",
      "credentials": {
        "githubOAuth2Api": {
          "id": "GITHUB_CREDENTIAL_ID",
          "name": "GitHub OAuth2 Credential"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "GitHub Trigger": {
      "main": [
        [
          {
            "node": "Filter PR Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter PR Events": {
      "main": [
        [
          {
            "node": "Fetch Diff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Diff": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Code Review Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Review Agent": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Create a review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Code Review Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "get_code": {
      "ai_tool": [
        [
          {
            "node": "Code Review Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ast_complexity_analysis": {
      "ai_tool": [
        [
          {
            "node": "Code Review Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "security_analysis": {
      "ai_tool": [
        [
          {
            "node": "Code Review Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "quality_regex_analysis": {
      "ai_tool": [
        [
          {
            "node": "Code Review Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "web_search": {
      "ai_tool": [
        [
          {
            "node": "Code Review Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "0f27cc3b-2945-4c00-a9ef-a4d9b9082f4f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "828ba7e91ee3ebe0345aeb2db33205db60574ce14f89b6be51e2eee2ed432ba3"
  },
  "nodeGroups": [],
  "id": "5ZD9XhRd13EjNpmA",
  "tags": []
}